body {
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
}

header {
    background-color: black
}

img {
    width: 170px;
}

.header {
    display: flex;
    max-width: 1280px;
    margin: 0px auto;
    padding: 12px 0px;
    align-items: center;
    justify-content: space-between;
}

.navItems {
    display: flex;
    color: white;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    font-size: 18px;
}

.navItems>li:hover {
    color: red;
    cursor: pointer;
}

.btn1 {
    background-color: transparent;
    color: white;
    padding: 18px 18px;
    border: 1px solid white;
    border-radius: 30px;
}

.btn1:hover {
    background-color: rgb(44, 44, 44);
    cursor: pointer;
}

.btn2 {
    background-color: red;
    color: white;
    padding: 13px 13px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
}

.svgDes {
    width: 20px;
    background-color: white;
    color: red;
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
}

.sliderImg {
    width: 100%;
    height: 100%;
}

.welcomeCon {
    background-color: black;
    color: white;
    text-align: center;
    padding: 42px 0px;
}

.welcomeHead {
    font-size: 42px;
    font-weight: lighter;
}

/* @font-face {
    font-family: futurak;
    src: url(./assets/fonts/Futura\ Extra\ Black\ font.ttf);
} */

.mainHead {
    font-family: "Moo Lah Lah", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

.welcomePara {
    font-weight: lighter;
    color: rgb(196, 195, 195);
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 20px;
    object-fit: cover;
}

.welCards {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.imgCards {
    width: 200px;
}

.cardBtn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
}

.resFran {
    background-color: #0f0f0f;
    color: white;
    padding: 65px 0px;
    text-align: center;
    z-index: 10;
}

.resHead {
    font-size: 48px;
    line-height: 0px;
}

.lineSalt {
    line-height: 40px;
}

.parentRelative {
    position: relative;
    z-index: 10;

}

.parentAbsolute {
    position: absolute;
    right: 40px;
    top: 0;
}

.bgLogoHeight {
    width: 400px;
}

.paddingSet {
    padding-top: 20px;
    padding-bottom: 40px;
}

.RestLocations {
    display: flex;
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    font-size: 17px;
    gap: 20px;
}

.widthBox {
    width: 50%;
    text-align: left;
}

.widthImged {
    width: 100%;
}

.locaIcon {
    width: 22px;
    font-weight: bold;
    color: white;
}

.contactRes {
    display: flex;
    gap: 7px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
}

.btnRes {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 25px;
    gap: 10px;
}

.IslHead {
    color: red;
    font-weight: lighter;
    letter-spacing: 7px;
}

.mainHeadedd {
    font-family: "Moo Lah Lah", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

.resHeading {
    font-weight: 28px;
}

.btnMargin {
    margin-top: 48px;
}

.expFran {
    background-color: black;
    color: white;
    padding: 20px 0;
    line-height: 16px;
    text-align: center;
}

.express {
    font-size: 48px;
}

.cardExp {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cardExpress {
    width: 400px;
}

.centerCon {
    text-align: center;
    display: flex;
    justify-content: center;
}

.btnCen {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btnGuj {
    background-color: #28a745;
    border: none;
}

.svgCol {
    color: #28a745;
}

.opnSoon {
    font-size: 24px;
    font-weight: 100;
}

.imgCardsLoc {
    width: 50px;
}

.opnedSoon {
    color: red;
    letter-spacing: 5px;
    line-height: 0px;
}

.locCards {
    color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widthText {
    width: 210px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.locHead {
    font-weight: bold;
    font-size: 26px;
}

.socHead {
    font-size: 36px;
}

.itemsList {
    background-color: black;
    color: white;
}

.paddingY {
    padding-top: 20px;
    padding-bottom: 50px;
}

.centerHead {
    text-align: center;
}

.imagesCenter {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.imgStyle {
    width: 250px;
}

.footerMain {
    background-color: #0f0f0f;
    color: white;
}

.gridLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    max-width: 1280px;
    margin: auto;
    padding: 50px 0px;
    color: gray;
}

.listItems {
    list-style-type: none;
}

.headingLink {
    color: white;
}

.list {
    margin-bottom: 16px;
}

.iconDiv {
    display: flex;
    gap: 10px;
}

.listIcon {
    background-color: red;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storeIcon {
    width: 140px;
}

.bottomFooter {
    border-top: 1px solid gray;
    max-width: 1280px;
    margin: auto;
    padding: 2px 0px;
    color: gray;
}

.flexBottom {
    display: flex;
    justify-content: space-between;
}